@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Roboto", sans-serif ;
    list-style: none;
    background-color: rgb(70, 69, 69);
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body{
    position: relative;
}

.header{
    height: 80px;
    padding:0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    padding: 10px 15px;
}
.link{
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}
.isActive{
    color: #FFBD39;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}
.download{
    width: 150px;
    padding: 10px;
    background-color: #FFBD39;
    border-radius: 30px;
    color: white;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}
.download:hover{
    background-color: white;
    color: black;
}

/* home css */
.layout{
    display: flex;
    justify-content: space-around;
    padding:30px;
}
section{
    height:calc(100vh - 110px);
}
.btnGroup{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}
.profileText{
    margin-top: 50px;
}
.profile_image{
    width: 500px;
    height: 500px;
    object-fit: contain;
    object-position: center;
}
h1{
    font-size: 50px;
    font-weight: 300;
}
span{
    font-size: 50px;
    font-weight: 500;
}
.download1{
    width: 150px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
}
.download1:hover{
    background-color: #FFBD39;
    color: darkblue;
}
.footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    border-top: 0.5px solid gray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.logoContainer{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* about css */
.layout1{
    display: flex;
    justify-content:space-around;
    padding:30px;
    gap: 10px;
}
p{
    color: white;
    padding: 5px;
}
.aboutText{
    display: flex;
    margin-top: 20px;
}
.text{
    color: white;
    padding: 10px;
}
.text1{
    color: rgba(245, 245, 245, 0.81);
    padding: 10px;
}
.downloadContainer{
    margin-top: 2rem;
    width: 250px;
}
.download2{
    padding: 15px;
    background-color: #FFBD39;
    border-radius: 30px;
    color: white;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
}

/* contact */
.contactContainer{
    position: relative;
}
form{
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,10%);
    box-shadow: 1px 1px 3px white;
    padding: 20px;
    border-radius: 10px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 3px;

    input{
        padding: 8px;
        background-color: whitesmoke;
        border: none;
        outline: none;
        border-radius: 10px;
    }
    textarea{
        padding: 8px;
        background-color: whitesmoke;
        border: none;
        outline: none;
        border-radius: 10px;
    }
    label{
        font-size: 18px;
        color: #FFBD39;
    }
}
.sendContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.send{
    width: 80%;
    padding: 8px;
    background-color: rgb(37, 139, 248);
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}